<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url("/static/images/antsb.jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    research-5782
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">Adaptive Ant Colony Optimization with node clustering applied to the
        Travelling Salesman Problem</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Programer: Shaked Shiran</p>
    <p class="w3-large w3-center">Authors Petr Stodola, Pavel Otřísal , Kamila Hasilováct</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Article:  <a href="https://www.sciencedirect.com/science/article/pii/S2210650222000281" target="_blank">LINK</a>
  </div>
</div>

<form action="#" method="post" enctype="multipart/form-data">
    <p>Number of ants:</p>
    <p><input type="text" name="ants_num"/></p>
    <p>Number of iterations:</p>
    <p><input type="text" name="iterations"/></p>
    <input type=file name=file>   
    <p><input type="submit" value="Upload"/></p>
</form>


</body>
</html>
